body{

font-family:Inter,sans-serif;

background:var(--background);

color:var(--text);

line-height:1.7;

overflow-x:hidden;

}

.container{

width:min(92%,1280px);

margin:auto;

}

section{

padding:110px 0;

}

h1,h2,h3,h4{

font-family:Manrope,sans-serif;

line-height:1.1;

color:var(--secondary);

}

h1{

font-size:68px;

font-weight:800;

}

h2{

font-size:48px;

font-weight:800;

}

p{

color:var(--muted);

font-size:18px;

}
